# Parcial 1 · Machine Learning (Primer Corte)
**Formato:** Notebook de Python (Colab/Jupyter)

**Instrucciones**
- Responde directamente en las celdas indicadas con *Tu respuesta aquí*.
- No borres el enunciado de las preguntas.
- No uses gráficos; solo filtros, agrupaciones y cálculos básicos.
- Mantén el código y comentarios en **español**.
- **Entrega**: sube este `.ipynb` resuelto a la plataforma indicada.

**Dataset esperado (`students.csv`)**
Columnas: `gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score`.

**Estructura del parcial**
- **Sección A — Fundamentos (6 preguntas)**
- **Sección B — EDA con filtros y agrupaciones (6 preguntas)**

**Puntaje**: 100 puntos (≈ 8.3 por pregunta).

---

In [4]:
!wget https://raw.githubusercontent.com/javierherrera1996/lecture_analytics/main/StudentsPerformance.csv

--2025-09-17 21:48:21--  https://raw.githubusercontent.com/javierherrera1996/lecture_analytics/main/StudentsPerformance.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 72036 (70K) [text/plain]
Saving to: ‘StudentsPerformance.csv.1’

StudentsPerformance 100%[===================>]  70.35K  --.-KB/s    in 0.02s

2025-09-17 21:48:21 (2.99 MB/s) - ‘StudentsPerformance.csv.1’ saved [72036/72036]

### Dependencias (ejecuta esta celda primero)

In [7]:
import pandas as pd
import numpy as np

## Carga del dataset
Sube un archivo **`students.csv`** (mismo directorio del notebook) o ajusta la ruta en la celda. Si no tienes el archivo, puedes **generar una muestra mínima** con la celda opcional.

In [8]:
df = pd.read_csv("StudentsPerformance.csv")

#### (Opcional) Generar una muestra mínima si no tienes el CSV

In [9]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## Sección A — Fundamentos de Machine Learning (Conceptual, sin métricas ni gráficos)

### A1. Supervisado vs No Supervisado
**Describe** con tus palabras la diferencia entre **aprendizaje supervisado** y **no supervisado**. Da **1 ejemplo** de cada uno aplicado a educación o negocios.

_Tu respuesta aquí (Markdown):_

El aprendizaje supervisado utiliza datos etiquetados para predecir resultados,y encambio en aprendizaje no supervisado se utilizan datos sin etiquetar, por ejemplo: en supervisado, pronostico de precios y no supervisado: prodeuctos que se deben comprar juntos.

### A2. Variable dependiente e independientes
Si queremos predecir `math score`, ¿cuál es la **variable dependiente**? Menciona **dos** posibles **variables independientes** justificando por qué.

_Tu respuesta aquí (Markdown):_

la variable dependiente seria math score, porq es la variable q deseamos medir y se afectara depende de las variables independientes, dos posibles variables independientes serian la cantidad de horas estudiadas, ya que de esto depende aprender sobre los temas y la otra seria el tipo de universidad, depende de la exigencia o estilo tambien se podrian validar las calificaciones de la asigantura.

### A3. Clasificación binaria
Si clasificamos estudiantes en **Aprobado** (≥ 60) vs **No aprobado**, ¿qué tipo de aprendizaje es? Justifica brevemente.

_Tu respuesta aquí (Markdown):_

Es un proceso de aprendizaje supervisado donde se entrena un modelo para clasificar datos en dos grupos determinados

### A4. Casos de negocio (supervisado)
Da **dos** ejemplos de problemas de negocio donde usarías aprendizaje **supervisado** y explica por qué.

_Tu respuesta aquí (Markdown):_

Deteccion de fraudes, donde se puede validar cada transaccion como fraudulenta o no, y el otro ejemplo seria prediccion de precios de vivienda, ya que depende de la ubicacion, metraje, se podria predecir el precio de la vivienda.

### A5. Casos de negocio (no supervisado)
Da **dos** ejemplos de problemas de negocio donde usarías aprendizaje **no supervisado** y explica por qué.

_Tu respuesta aquí (Markdown):_

Segmentacion de clientes: se agrupan los clientes depende de sus patrones de compra para depende de eso enviar publicidad de mas productos u ofertas especificas depende la edad e ingresos.
Otro podria ser deteccion de anomalias, se utiliza para identificar procesos inusuales dentro de muchas datos para identificar fraudes en transacciones

### A6. Segmentación por similitud
Si quieres segmentar estudiantes por similitud de `reading score` y `writing score`, ¿qué tipo de aprendizaje usarías y por qué?

_Tu respuesta aquí (Markdown):_

Se deberia usar el aprendizaje no supervisado ya que se agrupan los estudiantes depende de los puntajes obtenidos.

## Sección B — EDA (solo filtros y agrupaciones, foco de negocio)

### B7. Promedio de matemáticas por género
Calcula el **promedio de `math score` por `gender`**.
- ¿Qué género tiene mejor promedio?
- **Conclusión de negocio**: en 1–2 líneas, ¿qué harías con esta información?

_Escribe tu código y comentarios:_

In [14]:
df.groupby('gender')['math score'].mean()

gender
female    63.633205
male      68.728216
Name: math score, dtype: float64

El genero masculino
Realizar tutorias adicionales a las mujeres para subir sus calificaciones

### B8. Lectura por grupo étnico
Calcula el **promedio de `reading score` por `race/ethnicity`**.
- ¿Qué grupo tiene mejor desempeño?
- **Aplicación**: ¿cómo usarías esto en un programa de apoyo escolar?

_Escribe tu código y comentarios:_

In [17]:
df.groupby('race/ethnicity')['reading score'].mean()

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

el mejor desempeño seria para el grupo E, se debe validar con que estrategias o procesos los de este grupo estan siendo los mejores, para implementar estas mismas estrategias en los otro grupos

### B9. Impacto del tipo de almuerzo
Filtra estudiantes con `lunch = free/reduced` y calcula el **promedio de `math score` y `reading score`**. Compáralo con `lunch = standard`.
- **Conclusión de negocio**: ¿qué acción propones?

_Escribe tu código y comentarios:_

In [18]:
df.groupby('lunch')[['math score', 'reading score']].mean()

              math score  reading score
lunch
free/reduced   58.921127      64.653521
standard       70.034109      71.654264

se invertiria mas en lunch para los de estudiantes de matematicas

### B10. Educación parental y rendimiento
Agrupa por `parental level of education` y calcula el **promedio de `math score`**.
- ¿Qué nivel se asocia con mejores resultados?
- **Acción**: ¿qué intervención o programa harías basado en esto?

_Escribe tu código y comentarios:_

In [19]:
df.groupby('parental level of education')['math score'].mean()

parental level of education
associate's degree    67.882883
bachelor's degree     69.389831
high school           62.137755
master's degree       69.745763
some college          67.128319
some high school      63.497207
Name: math score, dtype: float64

el nivel q se asocia con mejores resultados seria el master´s degree

### B11. Curso de preparación y puntaje
Filtra estudiantes que **completaron** `test preparation course` y calcula el **promedio de `math score`**. Compáralo con quienes **no** lo completaron.
- **Decisión**: ¿financiarías este curso? Explica.

_Escribe tu código y comentarios:_

In [20]:
df.groupby('test preparation course')['math score'].mean()

test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64

si lo financiaria ya que un alto porcentaje lo realizo

### B12. Doble agrupación (negocio)
Crea una **tabla** agrupada por `gender` y `test preparation course` con el **promedio de `writing score`**.
- ¿Qué combinación muestra mejores resultados?
- **Recomendación**: ¿a quién priorizas para una beca del curso?

_Escribe tu código y comentarios:_

In [21]:
df.groupby(['gender', 'test preparation course'])['writing score'].mean()

gender  test preparation course
female  completed                  78.793478
        none                       68.982036
male    completed                  69.793103
        none                       59.649351
Name: writing score, dtype: float64

Muestra mejores resultados para las mujeres y a ellas se les daria la beca